window {
    margin: 10px;
    border: 2px solid #b45cb5;
    background-color: #2e1f33;
}

#input {
margin: 10px;
padding: 5px;
background-color: #291929;
color: #eceff4;
font-size: 16px;
}

#entry {
padding: 8px;
margin: 2px;
color: #d8dee9;
}

#entry:selected {
background-color: #de81de;
color: #1f1f33;
}
